<div *ngIf="book">
  <h2>{{book.title}}</h2>
  <p>by {{book.author}}</p>
  <p>Your current page: {{book.currentPage}}</p>
  <div>
    <label>Current Page:
      <input [(ngModel)]="book.currentPage" placeholder="page">
    </label>
  </div>
  <ul>Comments
    <li *ngFor="let comment of book.comments">
      {{comment}}
    </li>
  </ul>
  <div>
    <label>
      <!--put in method for saving value in input on button click-->
    <input placeholder="Add Comment">
    </label>
  </div>
</div>
<div>
  <button (click)="goBack()">Return to Shelves</button>
</div>
