<div class="background">
<div *ngIf="book">
  <h2>{{book.title}}</h2>
  <p>by {{book.author}}</p>
  <p>Your current page: {{book.currentPage}}</p>
  <div>
    <label>Current Page:
      <input class="pageInput" [(ngModel)]="book.currentPage" placeholder="page">
    </label>
  </div>
  <ul>Comments:
    <li *ngFor="let comment of book.comments">
      {{comment.content}}
    </li>
  </ul>
  <div>
    <label>
    <input placeholder="Add Comment">
    </label>
    <button class="saveButton">Save</button>
  </div>
</div>
</div>
<div>
  <button class="returnButton" (click)="goBack()">Return to Shelves</button>
</div>
